### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/.DS_Store
/.project
*/target/**
*/classes/**
*/.classpath
*/.project
*/.settings/
.DS_Store
.classpath
.project
.settings/
*.iml
.idea/
logs/
*/logs/
disconf/
config/*.properties
*.xls
*.log
*.txt